.product-cards {
    display: flex;
    
    min-height: 100vh;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.25) 0%, transparent 10%, rgba(0, 0, 0, 0.25) 100%), url(../img/bg-products.jpg);
    background-repeat: repeat;

    &__title {
        margin-bottom: ($spacer * 1.5);
        color: $color-white;
        font-family: $font-family-display;
        font-size: $products-title-size;
        font-weight: $font-weight-light;
        text-align: center;
    }

    .row {
        justify-content: space-between;
        align-items: center;
    }

    .product-card {
        max-width: 345px;

        &__container {
            position: relative;
            z-index: 1;
            &:before {
                content: '';
                position: absolute;
                top: -$product-border-width;
                left: -$product-border-width;
                width: calc(100% + #{$product-border-width * 2});
                height: calc(100% + #{$product-border-width * 2});
                background-color: $color-primary;
                border-radius: $product-border-radius;
                background: linear-gradient(135deg, transparent 30px, $color-primary 0);
                z-index: -1;
            }
            &:after {
                content: '';
                position: absolute;
                height: 0;
                width: 0;
                top: -12px;
                left: 0px;
                border-top: 45px solid transparent;
                border-right: 20px solid transparent;
                z-index: 1;
                cursor: default;
                transform: rotate(45deg);
            }
        }

        &__body {
            position: relative;
            background-color: $color-white;
            padding: $spacer ($spacer * 2) ($spacer * 20) ($spacer * 3);
            border-radius: $product-border-radius;
            background: linear-gradient(135deg, transparent 30px, $color-white 0);
            z-index: 1;
            overflow: hidden;
            margin-bottom: $spacer;
            cursor: pointer;

            .product-card__subtitle {
                
            }

            .product-card__wieght {
                position: absolute;
                font-size: $product-weight-size;
                line-height: 1;
                background-color: #fff;
                bottom: 30px;
                right: 5px;
                border-radius: 50%;
                text-align: center;
                span {
                    display: block;
                    font-size: ($product-weight-size / 2);
                }


            }
        }
    }
}